<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
{{> navbar}}
    <div class="container-fluid"> 
        <h2>User Profile</h2>
        <img src="https://banner2.cleanpng.com/20180519/zt/kisspng-user-profile-avatar-computer-icons-5affbbaf05c5a4.7133825315267091670237.jpg" />
        <h3>Name: {{user.NAME}}</h3>
        <h3>Email: {{user.EMAIL}}</h3>
    </div>
    
</body>
</html>